<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    	<title>Gene Search</title>
	</head>
	
	<style>
	p {
		text-align: center;
	}
	c {
                text-align: center;
        }
	input[name="text"] 
	{
   		width: 490px;
   		height: 35px;
 	}
	input[type="submit"]
	{
		width: 210px;
		height: 35px;
	}
	</style>
	
	<body>
		<br>
		<p>Welcome to Gene Search! </p>		
		<br>	
		<p>Input the set of genes you wish to search for</p>
		<br>
		<p>Set each mutated gene equal to 1 (= 1) and each unmutated or reference matched gene equal to 0 (= 0)</p>
		<br>
		<c>
		<form method="POST">
                	<input name="text">
                	<input type="submit">
		</form>

	</body>

</html>
