
<!DOCTYPE html>
<html>
<body>
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cancer Type</th>
        <th scope="col">Number of Cases</th>
      </tr>
    </thead>
    <tbody>
        {% for type in sorted_data %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ type[0] }}</td>
        <td>{{ type[1] }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

</body>
</html>
